body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.arsenal-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(145deg, #1f1f1f, #2a2a2a);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #0d0d0d, 0 0 10px #353535;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arsenal-button:hover {
    background: linear-gradient(145deg, #2a2a2a, #1f1f1f);
    box-shadow: 5px 5px 15px #0d0d0d, -5px -5px 15px #353535;
}

.display-area, .info-area {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    background: linear-gradient(145deg, #1f1f1f, #2a2a2a);
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #0d0d0d, 0 0 10px #353535;
    transition: all 0.3s ease;
    margin-bottom: 60px;
}

body.blur {
    filter: none;
}

body.blur::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2500;
}

.card-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 3000;
}

.card {
    width: 20vw;
    height: 50vh;
    background: linear-gradient(145deg, #1f1f1f, #2a2a2a);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0d0d0d, 0 0 10px #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}

.card:hover {
    background: linear-gradient(145deg, #2a2a2a, #1f1f1f);
    box-shadow: 5px 5px 15px #0d0d0d, -5px -5px 15px #353535;
}

.card.explosive {
    background: linear-gradient(145deg, #8b0000, #b22222);
    color: #fff;
    box-shadow: 0 0 10px #0d0d0d, 0 0 10px #353535;
    transition: all 0.3s ease;
}

.card.explosive:hover {
    background: linear-gradient(145deg, #b22222, #8b0000);
    box-shadow: 5px 5px 15px #0d0d0d, -5px -5px 15px #353535;
}

.grid-container {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(19, 30px);
    gap: 5px;
    justify-content: center;
}

.square {
    width: 30px;
    height: 30px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.info-area {
    top: 10px;
    margin-bottom: 0;
}
